<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>TitanOne-Regular.ttf</string>
		<string>Nunito[wght].ttf</string>
		<string>Nunito-Italic[wght].ttf</string>
		<string>Quicksand[wght].ttf</string>
	</array>
</dict>
</plist>
